// Colors
$white: white;
$black: black;
$steelblue: steelblue;
$royalblue: royalblue;

// Base
$base-font-family: 'Roboto Condensed', sans-serif;
$base-transition-type: ease-in;
$base-transition-speed: 0.2s;
